:host::ng-deep {
    $background-color-warning: yellow;
    $text-color-warning: black;
    $background-color-error: red;
    $text-color-error: white;

    .levelWarning {
        background-color: $background-color-warning;
        color: $text-color-warning
    }

    .levelError {
        background-color: $background-color-error;
        color: $text-color-error;
    }
}

.error-notification {
    font-size: 20px;
    font-weight: bold;
    color: red;
    text-align: center;
}
