<igx-grid #grid 
          [data]="data"
          [autoGenerate]="false"
          [paging]="false"
          [allowFiltering]="false"
          [columnHiding]="false"
          [columnPinning]="false"
          (onColumnInit)="handleOnColumnInit($event)"
          (onSelection)="handleOnSelection($event)"
          (onCellEdit)="handleOnCellEdit($event)">
    <igx-column *ngFor="let definition of definitions"
                [header]="definition.header"
                [field]="definition.field"
                [width]="definition.width"
                [dataType]="definition.dataType"
                [editable]="definition.editable"
                [sortable]="definition.sortable"
                [resizable]="definition.resizable"
                [cellClasses]="cellStyleClasses">

        <ng-template *ngIf="definition.isErrorColumn" igxCell let-cell="cell" let-val>
            <div *ngIf="val">
                <igx-icon color="red">error</igx-icon>
            </div>
        </ng-template>

        <ng-template *ngIf="definition.isMassUpdateColumn" igxCell let-cell="cell" let-val>
            <igx-checkbox [checked]="val" (change)="onCheckboxChanged($event, val, cell)"></igx-checkbox>
        </ng-template>

        <ng-template *ngIf="definition.dataType === 'date'" igxCell let-val>
            {{ val.content | date: 'MM/dd/yyyy' }}
        </ng-template>

        <ng-template igxCell let-cell="cell" let-val>
            <div [matTooltip]="getErrorMessage(cell, val)">
                {{ val.content }}
            </div>  
        </ng-template>
    
        <ng-template *ngIf="definition.editMode === 'date'" igxCellEditor let-cell="cell" let-val>
            <igx-date-picker [(ngModel)]="val.content"></igx-date-picker>
        </ng-template>

        <ng-template *ngIf="definition.editMode === 'string'" igxCellEditor let-cell="cell" let-val>
            <igx-input-group>
                <input igxInput [(ngModel)]="val.content">
            </igx-input-group>
        </ng-template>

        <ng-template *ngIf="definition.editMode === 'number'" igxCellEditor let-cell="cell" let-val>
            <igx-input-group>
                <input igxInput type="number" [(ngModel)]="val.content">
            </igx-input-group>
        </ng-template>

        <ng-template *ngIf="definition.editMode === 'dropdown/restricted'" igxCellEditor let-cell="cell" let-val>
            <igx-input-group #dropdownTarget type="box" (click)="toggleDropDown()">
                <input igxInput type="text" [value]="val.content" readonly="false"/>
            </igx-input-group>
            <igx-drop-down #dropdown igxDropDownItemNavigation width="100%" (onSelection)="onDropDownSelection($event, val, cell)">
                <igx-drop-down-item *ngFor="let option of val.options" [value]="option">{{ option }}</igx-drop-down-item>
            </igx-drop-down>
        </ng-template>

    </igx-column>
</igx-grid>