@import '~@angular/material/theming';
@import 'material-theme';

@function getMaterialColor($palette, $key) {
    @return map-get(map-get($black-bolt-app-theme, $palette), $key);
}

$theme-primary-color: getMaterialColor(primary, default);
$theme-accent-color: getMaterialColor(accent, default);
$theme-dark-accent-color: #303030;

$theme-text-color: getMaterialColor(foreground, text);
$theme-light-text-color: white;

$theme-header-background-color: black;