<mat-card class="mat-card--content">
    <mat-card-content>
        <app-black-bolt-grid #grid (modified)="handleOnConfigurationModified($event)"></app-black-bolt-grid>
    </mat-card-content>
</mat-card>

