@import '../../../theme/variables.scss';

$thickness: 5px;
$diameter: 100px;

.loading-spinner {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $theme-dark-accent-color;
    z-index: 9999;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: $diameter * -1/2;
    margin-top: $diameter * -1/2;
}


// this was copy and pasted and variable-ized
.loader,
.loader:after {
  border-radius: 50%;
  width: $diameter;
  height: $diameter;
}
.loader {
  position: relative;
  border-top: $thickness solid transparent;
  border-right: $thickness solid transparent;
  border-bottom: $thickness solid $theme-accent-color;
  border-left: $thickness solid $theme-accent-color;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}