:host {
    height: 48px;
    align-self: auto;
}

.mat-card-content--container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
}

.edit--actions--button {
    width: 125px;
    margin: 8px;
}
