<mat-card>
    <mat-card-content>
        <div class="mat-card-content--container">
            <button mat-raised-button class="edit--actions--button" (click)="handleCancelClicked($event)">Cancel</button>
            <button mat-raised-button class="edit--actions--button" color="primary" (click)="handleSaveClicked($event)">Save</button>
        </div>
    </mat-card-content>
</mat-card>